.container {
    display: flex;
}

.chave {
    width: 100px;
    height: 50px;
    background-color: gray;
    border: 1px solid black;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    margin-right: 10px;
}

.chave.on {
    background-color: green;
}

.chave.off {
    background-color: red;
}
